.category-container{
    margin-top:100px;
    display:flex;
    background-color: aliceblue;
    justify-content:space-between;
    align-items: center;
    gap: 24px;
    margin:24px 0;
    padding: 0 16px;
    padding-top: 50px;
    text-align: center;
}
.category-item {
  text-align: center;
  width: 80px;          /* Optional fixed width for alignment */
 display: block;
}
.category-name {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}
.category-link{
    color: black;
    text-decoration: none;

}
.category-image {
  width: 50px;          /* Reduced size */
  height: 50px;
  object-fit: cover;   /* Maintain aspect ratio */  
  display: block;      /* Ensures the image is treated as a block element */
  row-gap: 10px;
  padding-left: 20px;
  border-radius: 1px; 
}
.Electronicpro{
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  gap: 10px;
}
.productimage{
  border-radius: 5px;
  width: 100px;
  height: 100px;
}
.proname{
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-top: 5px;
  text-align: center;
}